In [1]:
#!pip install geopy

In [2]:
import pandas as pd
import json
from geopy import distance

In [3]:
interim_path = '../data/interim/'

## Read Nombres de CAIs

In [4]:
nombres_cais = pd.read_excel("../data/otros/Localizaciones.xlsx")

In [5]:
nombres_cais

                Estación                 CAIDESCRIP
0        CAI 20 de Julio            CAI 20 De Julio
1        CAI 7 de Agosto        CAI Siete de Agosto
2             CAI Alamos                 CAI Álamos
3           CAI Americas  CAI Plaza De Las Américas
4             CAI Aurora              CAI La Aurora
5             CAI Claret                 CAI Claret
6           CAI Galerias               CAI Galerías
7            CAI Jaboque                CAI Jaboque
8         CAI Las Ferias             CAI Las Ferias
9            CAI Navarra                CAI Navarra
10         CAI Normandia              CAI Normandía
11          CAI Quirigua               CAI Quirigua
12            CAI Rincon                 CAI Rincón
13              CAI Roma                   CAI Roma
14     CAI San Victorino          CAI San Victorino
15            CAI Serena              CAI La Serena
16             CAI Tejar               CAI El Tejar
17           CAI Venecia                CAI Venecia
18       CAI Villa Nidia            CAI Villa Nidia
19   CAI Villa del Prado        CAI Villa del Prado
20             Cruz Roja                       #N/D
21        Edificio Marly                       #N/D
22  Edificio Profesional                       #N/D
23        Hotel Morrison                       #N/D
24         Santa Cecilia                       #N/D
25              Fontibón                       #N/D
26              Restrepo                       #N/D
27                   SDA                       #N/D

In [6]:
nombres_cais = nombres_cais[['Estación','CAIDESCRIP']]

In [7]:
nombres_cais['Estación'] = nombres_cais['Estación'].str.replace('"','')

In [8]:
nombres_cais.head()

          Estación                 CAIDESCRIP
0  CAI 20 de Julio            CAI 20 De Julio
1  CAI 7 de Agosto        CAI Siete de Agosto
2       CAI Alamos                 CAI Álamos
3     CAI Americas  CAI Plaza De Las Américas
4       CAI Aurora              CAI La Aurora

## Read Ubicaciones CAIs

In [39]:
df_locations_sda = pd.read_csv("../data/otros/estacion_sda.csv",sep=";")

In [40]:
df_locations_sda.head()

,nombre,nombreCorto,latitud,longitud,altitud,altura suelo
0,Estación Meteorología,Est. Met.,"4,663","-74,062",NaN,NaN
1,Test2,TET2,"4,32","-74,25",2500.0,NaN
2,CAI Normandia,CAINORM,"4,6702139","-74,10749444",NaN,NaN
3,CAI Oneida,C.Oneida,"4,618888889","-74,145",NaN,NaN
4,CAI Quirigua,CAIQUI,"4,706286111","-74,10720278",NaN,NaN

In [44]:
# Add latitude and longitude data
cais_SDA = nombres_cais.merge(df_locations_sda[['nombre','latitud','longitud']],how ="left", left_on="Estación",right_on ="nombre")

In [45]:
cais_SDA

,Estación,CAIDESCRIP,nombre,latitud,longitud
0,CAI 20 de Julio,CAI 20 De Julio,CAI 20 de Julio,"4,5726111","-74,09255556"
1,CAI 7 de Agosto,CAI Siete de Agosto,CAI 7 de Agosto,"4,658055556","-74,07694444"
2,CAI Alamos,CAI Álamos,CAI Alamos,"4,6901611","-74,11725"
3,CAI Americas,CAI Plaza De Las Américas,CAI Americas,"4,6191917","-74,139075"
4,CAI Aurora,CAI La Aurora,CAI Aurora,"4,5198417","-74,12165"
5,CAI Claret,CAI Claret,CAI Claret,"4,5833083","-74,12730278"
6,CAI Galerias,CAI Galerías,CAI Galerias,"4,641666667","-74,07444444"
7,CAI Jaboque,CAI Jaboque,CAI Jaboque,"4,703333333","-74,12888889"
8,CAI Las Ferias,CAI Las Ferias,CAI Las Ferias,"4,682777778","-74,09027778"
9,CAI Navarra,CAI Navarra,CAI Navarra,"4,695555556","-74,05527778"
10,CAI Normandia,CAI Normandía,CAI Normandia,"4,6702139","-74,10749444"
11,CAI Quirigua,CAI Quirigua,CAI Quirigua,"4,706286111","-74,10720278"
12,CAI Rincon,CAI Rincón,CAI Rincon,"4,7235528","-74,09165278"
13,CAI Roma,CAI Roma,CAI Roma,"4,6134222","-74,17561389"
14,CAI San Victorino,CAI San Victorino,CAI San Victorino,"4,6014194","-74,08121389"
15,CAI Serena,CAI La Serena,CAI Serena,"4,709722222","-74,09416667"
16,CAI Tejar,CAI El Tejar,CAI Tejar,"4,608888889","-74,12805556"
17,CAI Venecia,CAI Venecia,CAI Venecia,"4,5900111","-74,13840833"
18,CAI Villa Nidia,CAI Villa Nidia,CAI Villa Nidia,"4,7377778","-74,02258333"
19,CAI Villa del Prado,CAI Villa del Prado,CAI Villa del Prado,"4,753055556","-74,04666667"
20,Cruz Roja,#N/D,Cruz Roja,"4,6731944","-74,09007222"
21,Edificio Marly,#N/D,Edificio Marly,"4,6374806","-74,06418333"
22,Edificio Profesional,#N/D,Edificio Profesional,"4,6997556","-74,05085278"
23,Hotel Morrison,#N/D,Hotel Morrison,"4,668888889","-74,05444444"
24,Santa Cecilia,#N/D,Santa Cecilia,"4,669701","-74,119029"
25,Fontibón,#N/D,Fontibón,"4,6675","-74,14861111"
26,Restrepo,#N/D,Restrepo,"4,5847861","-74,10026944"
27,SDA,#N/D,SDA,"4,6419056","-74,06568333"

In [46]:
pd.set_option('display.max_rows', 500)

In [47]:
cais_SDA = cais_SDA [["Estación","latitud","longitud"]].copy()

In [48]:
 cais_SDA = cais_SDA.apply(lambda x: x.str.replace(',','.'))

In [49]:
cais_SDA['lat_lon'] = list(zip(cais_SDA.latitud, cais_SDA.longitud))

In [50]:
cais_SDA.head()

          Estación      latitud      longitud                      lat_lon
0  CAI 20 de Julio    4.5726111  -74.09255556    (4.5726111, -74.09255556)
1  CAI 7 de Agosto  4.658055556  -74.07694444  (4.658055556, -74.07694444)
2       CAI Alamos    4.6901611     -74.11725       (4.6901611, -74.11725)
3     CAI Americas    4.6191917    -74.139075      (4.6191917, -74.139075)
4       CAI Aurora    4.5198417     -74.12165       (4.5198417, -74.12165)

## Read Bares y Restaurantes

In [51]:
bares_data = json.load(open("../data/otros/bares/bares.geojson"))

In [52]:
bares_df = pd.json_normalize(bares_data['features'])

In [53]:
bares_df.drop(["type","geometry.type","geometry.coordinates"],axis=1,inplace=True)

In [54]:
bares_df.columns = bares_df.columns.str.replace("properties.", "")

In [55]:
bares_df.head()

,SUBCATEGOR,NOMBRE_EST,DIRECCION,LOC,SECTOR_CAT,LATITUD,LONGITUD
0,L,CHIBCHOMBIA,CL 27 # 4 - 49 P 1,03,LA MACARENA,4.613799,-74.066259
1,L,RESTAURANTE ROMULO Y REMO MACARENA,KR 4A # 26D - 90,03,LA MACARENA,4.613799,-74.066259
2,L,BOGOTA BEER COMPANY S A,KR 4A # 27 - 3,03,LA MACARENA,4.614092,-74.065890
3,L,PRESTO BTA CALLE 27,KR 7 # 27 - 38 LC 1 ED COLISSEUM,03,SAN DIEGO,4.614158,-74.069222
4,L,LA HAMBURGUESERIA DE LA MACARENA,KR 4A # 27 - 27,03,LA MACARENA,4.614193,-74.066440

In [56]:
bares = bares_df[["NOMBRE_EST","LATITUD","LONGITUD"]].copy()

In [57]:
bares["lat_lon"] = list(zip(bares.LATITUD, bares.LONGITUD))

In [58]:
bares

,NOMBRE_EST,LATITUD,LONGITUD,lat_lon
0,CHIBCHOMBIA,4.613799,-74.066259,"(4.613799, -74.066259)"
1,RESTAURANTE ROMULO Y REMO MACARENA,4.613799,-74.066259,"(4.613799, -74.066259)"
2,BOGOTA BEER COMPANY S A,4.614092,-74.065890,"(4.614092, -74.06589)"
3,PRESTO BTA CALLE 27,4.614158,-74.069222,"(4.614158, -74.069222)"
4,LA HAMBURGUESERIA DE LA MACARENA,4.614193,-74.066440,"(4.614193, -74.06644)"
...,...,...,...,...
510,BARRA BTA EXITO COUNTRY 2,4.713003,-74.032775,"(4.713003, -74.032775)"
511,ANDRES EXPRES CASETA DE LUXE,4.715561,-74.029294,"(4.715561, -74.029294)"
512,RESTAURANTE BTA CALLE 140,4.719717,-74.037980,"(4.719717, -74.03798)"
513,BARRA BTA C.C. SAN RAFAEL LOCAL 120,4.723219,-74.062287,"(4.723219, -74.062287)"
514,RESTAURANTE LA JUGUETERIA 147,4.730152,-74.044838,"(4.730152, -74.044838)"

### Calcular Bares y Restaurantes cercanos en 500 metros

In [59]:
def conteo_en_radio(cais_SDA,establecimientos_df,radio,nombre_var):
    
    for cai in cais_SDA.Estación :
        print(cai)
        cai_lat_lon = cais_SDA[cais_SDA.Estación==cai]['lat_lon']
        temp_df = establecimientos_df.copy()
        temp_df["distancia"] = temp_df.lat_lon.apply(lambda x: distance.distance(cai_lat_lon, x).km)
        cais_SDA.loc[cais_SDA.Estación==cai,nombre_var]=len(temp_df.sort_values("distancia").query("distancia<"+str(radio)).lat_lon)

    return cais_SDA

In [60]:
cais_SDA = conteo_en_radio(cais_SDA,bares,0.5,"conteo_bares_500m")
cais_SDA = conteo_en_radio(cais_SDA,bares,1,"conteo_bares_1km")
cais_SDA = conteo_en_radio(cais_SDA,bares,2,"conteo_bares_2km")

CAI 20 de Julio
CAI 7 de Agosto
CAI Alamos
CAI Americas
CAI Aurora
CAI Claret
CAI Galerias
CAI Jaboque
CAI Las Ferias
CAI Navarra
CAI Normandia
CAI Quirigua
CAI Rincon
CAI Roma
CAI San Victorino
CAI Serena
CAI Tejar
CAI Venecia
CAI Villa Nidia
CAI Villa del Prado
Cruz Roja
Edificio Marly
Edificio Profesional
Hotel Morrison
Santa Cecilia
Fontibón
Restrepo
SDA
CAI 20 de Julio
CAI 7 de Agosto
CAI Alamos
CAI Americas
CAI Aurora
CAI Claret
CAI Galerias
CAI Jaboque
CAI Las Ferias
CAI Navarra
CAI Normandia
CAI Quirigua
CAI Rincon
CAI Roma
CAI San Victorino
CAI Serena
CAI Tejar
CAI Venecia
CAI Villa Nidia
CAI Villa del Prado
Cruz Roja
Edificio Marly
Edificio Profesional
Hotel Morrison
Santa Cecilia
Fontibón
Restrepo
SDA
CAI 20 de Julio
CAI 7 de Agosto
CAI Alamos
CAI Americas
CAI Aurora
CAI Claret
CAI Galerias
CAI Jaboque
CAI Las Ferias
CAI Navarra
CAI Normandia
CAI Quirigua
CAI Rincon
CAI Roma
CAI San Victorino
CAI Serena
CAI Tejar
CAI Venecia
CAI Villa Nidia
CAI Villa del Prado
Cruz Roja
Edificio Marly
Edificio Profesional
Hotel Morrison
Santa Cecilia
Fontibón
Restrepo
SDA

In [61]:
cais_SDA.sort_values("conteo_bares_500m",ascending=False).head(10)

,Estación,latitud,longitud,lat_lon,conteo_bares_500m,conteo_bares_1km,conteo_bares_2km
23,Hotel Morrison,4.668888889,-74.05444444,"(4.668888889, -74.05444444)",70.0,81.0,164.0
3,CAI Americas,4.6191917,-74.139075,"(4.6191917, -74.139075)",16.0,17.0,17.0
22,Edificio Profesional,4.6997556,-74.05085278,"(4.6997556, -74.05085278)",16.0,27.0,64.0
6,CAI Galerias,4.641666667,-74.07444444,"(4.641666667, -74.07444444)",8.0,9.0,16.0
27,SDA,4.6419056,-74.06568333,"(4.6419056, -74.06568333)",1.0,4.0,58.0
21,Edificio Marly,4.6374806,-74.06418333,"(4.6374806, -74.06418333)",1.0,3.0,37.0
19,CAI Villa del Prado,4.753055556,-74.04666667,"(4.753055556, -74.04666667)",1.0,1.0,21.0
15,CAI Serena,4.709722222,-74.09416667,"(4.709722222, -74.09416667)",0.0,0.0,5.0
26,Restrepo,4.5847861,-74.10026944,"(4.5847861, -74.10026944)",0.0,0.0,0.0
25,Fontibón,4.6675,-74.14861111,"(4.6675, -74.14861111)",0.0,0.0,1.0

## Read Centros Comerciales

In [62]:
## Data incompleta

## Read Colegios

In [63]:
colegios_data = pd.read_excel("../data/otros/colegios/colegios.xlsx")

In [64]:
colegios = colegios_data[['DANE12_SEDE_EDUCATIVA','NOMBRE_SEDE_EDUCATIVA','X','Y']].copy()

In [65]:
colegios["lat_lon"] = list(zip(colegios.Y, colegios.X))

### Calcular Colegios cercanos en 500 metros

In [66]:
cais_SDA = conteo_en_radio(cais_SDA,colegios,0.5,"conteo_colegios_500m")
cais_SDA = conteo_en_radio(cais_SDA,colegios,1,"conteo_colegios_1km")
cais_SDA = conteo_en_radio(cais_SDA,colegios,2,"conteo_colegios_2km")

CAI 20 de Julio
CAI 7 de Agosto
CAI Alamos
CAI Americas
CAI Aurora
CAI Claret
CAI Galerias
CAI Jaboque
CAI Las Ferias
CAI Navarra
CAI Normandia
CAI Quirigua
CAI Rincon
CAI Roma
CAI San Victorino
CAI Serena
CAI Tejar
CAI Venecia
CAI Villa Nidia
CAI Villa del Prado
Cruz Roja
Edificio Marly
Edificio Profesional
Hotel Morrison
Santa Cecilia
Fontibón
Restrepo
SDA
CAI 20 de Julio
CAI 7 de Agosto
CAI Alamos
CAI Americas
CAI Aurora
CAI Claret
CAI Galerias
CAI Jaboque
CAI Las Ferias
CAI Navarra
CAI Normandia
CAI Quirigua
CAI Rincon
CAI Roma
CAI San Victorino
CAI Serena
CAI Tejar
CAI Venecia
CAI Villa Nidia
CAI Villa del Prado
Cruz Roja
Edificio Marly
Edificio Profesional
Hotel Morrison
Santa Cecilia
Fontibón
Restrepo
SDA
CAI 20 de Julio
CAI 7 de Agosto
CAI Alamos
CAI Americas
CAI Aurora
CAI Claret
CAI Galerias
CAI Jaboque
CAI Las Ferias
CAI Navarra
CAI Normandia
CAI Quirigua
CAI Rincon
CAI Roma
CAI San Victorino
CAI Serena
CAI Tejar
CAI Venecia
CAI Villa Nidia
CAI Villa del Prado
Cruz Roja
Edificio Marly
Edificio Profesional
Hotel Morrison
Santa Cecilia
Fontibón
Restrepo
SDA

In [67]:
cais_SDA.head()

,Estación,latitud,longitud,lat_lon,conteo_bares_500m,conteo_bares_1km,conteo_bares_2km,conteo_colegios_500m,conteo_colegios_1km,conteo_colegios_2km
0,CAI 20 de Julio,4.5726111,-74.09255556,"(4.5726111, -74.09255556)",0.0,0.0,0.0,14.0,47.0,142.0
1,CAI 7 de Agosto,4.658055556,-74.07694444,"(4.658055556, -74.07694444)",0.0,0.0,14.0,4.0,17.0,97.0
2,CAI Alamos,4.6901611,-74.11725,"(4.6901611, -74.11725)",0.0,1.0,21.0,0.0,11.0,104.0
3,CAI Americas,4.6191917,-74.139075,"(4.6191917, -74.139075)",16.0,17.0,17.0,8.0,25.0,122.0
4,CAI Aurora,4.5198417,-74.12165,"(4.5198417, -74.12165)",0.0,0.0,0.0,9.0,17.0,45.0

## Read Hoteles

In [68]:
hoteles_data = json.load(open("../data/otros/hoteles/hoteles.geojson",encoding='utf-8'))

In [69]:
hoteles_df = pd.json_normalize(hoteles_data['features'])
hoteles_df.drop(["type","geometry.type","geometry.coordinates"],axis=1,inplace=True)
hoteles_df.columns = hoteles_df.columns.str.replace("properties.", "")

In [70]:
hoteles_df.head()

,OBJECTID,NOMBRE_EST,DIRECCION,SECTOR_CAT,TELEFONO_F,LATITUD,LONGITUD,SUBCATEGOR,LOCALIDAD,RNT,TELEFONO_M
0,1,HOSPEDAJE A MARTE,Calle 88 B Sur # 0- 78 ESTE,CHAPINERITO,3209969491,4.503119,-74.104165,F,05,69652,3228535930
1,2,HOSPEDAJE LA ESQUINA LA 83,CL 88 B SUR NO. 0 96 ESTE,CHAPINERITO,3155535619,4.503166,-74.104005,F,05,70119,7632427
2,3,HOSTAL PARAISO R.P.,CL 71 I BIS NO. 27 B - 22 SUR,EL MIRADOR,None,4.550338,-74.160098,G,19,75655,3115997250
3,4,HOTEL JERUSALEN THAILY,CR 45 73 B 40 SUR,LAS BRISAS,3107629622,4.569871,-74.164428,H,19,61764,7318648
4,5,HOTEL MIRADOR SUITE,TV 14 NO. 45 F 01 SUR,SANTA LUCIA,3123960180,4.570783,-74.124986,H,18,57062,3123960180

In [71]:
hoteles =hoteles_df[['NOMBRE_EST','LATITUD','LONGITUD']].copy()
hoteles["lat_lon"] = list(zip(hoteles.LATITUD, hoteles.LONGITUD))

### Calcular hoteles cercanos

In [72]:
cais_SDA = conteo_en_radio(cais_SDA,hoteles,0.5,"conteo_hoteles_500m")
cais_SDA = conteo_en_radio(cais_SDA,hoteles,1,"conteo_hoteles_1km")
cais_SDA = conteo_en_radio(cais_SDA,hoteles,2,"conteo_hoteles_2km")

CAI 20 de Julio
CAI 7 de Agosto
CAI Alamos
CAI Americas
CAI Aurora
CAI Claret
CAI Galerias
CAI Jaboque
CAI Las Ferias
CAI Navarra
CAI Normandia
CAI Quirigua
CAI Rincon
CAI Roma
CAI San Victorino
CAI Serena
CAI Tejar
CAI Venecia
CAI Villa Nidia
CAI Villa del Prado
Cruz Roja
Edificio Marly
Edificio Profesional
Hotel Morrison
Santa Cecilia
Fontibón
Restrepo
SDA
CAI 20 de Julio
CAI 7 de Agosto
CAI Alamos
CAI Americas
CAI Aurora
CAI Claret
CAI Galerias
CAI Jaboque
CAI Las Ferias
CAI Navarra
CAI Normandia
CAI Quirigua
CAI Rincon
CAI Roma
CAI San Victorino
CAI Serena
CAI Tejar
CAI Venecia
CAI Villa Nidia
CAI Villa del Prado
Cruz Roja
Edificio Marly
Edificio Profesional
Hotel Morrison
Santa Cecilia
Fontibón
Restrepo
SDA
CAI 20 de Julio
CAI 7 de Agosto
CAI Alamos
CAI Americas
CAI Aurora
CAI Claret
CAI Galerias
CAI Jaboque
CAI Las Ferias
CAI Navarra
CAI Normandia
CAI Quirigua
CAI Rincon
CAI Roma
CAI San Victorino
CAI Serena
CAI Tejar
CAI Venecia
CAI Villa Nidia
CAI Villa del Prado
Cruz Roja
Edificio Marly
Edificio Profesional
Hotel Morrison
Santa Cecilia
Fontibón
Restrepo
SDA

In [73]:
cais_SDA.head()

,Estación,latitud,longitud,lat_lon,conteo_bares_500m,conteo_bares_1km,conteo_bares_2km,conteo_colegios_500m,conteo_colegios_1km,conteo_colegios_2km,conteo_hoteles_500m,conteo_hoteles_1km,conteo_hoteles_2km
0,CAI 20 de Julio,4.5726111,-74.09255556,"(4.5726111, -74.09255556)",0.0,0.0,0.0,14.0,47.0,142.0,0.0,0.0,6.0
1,CAI 7 de Agosto,4.658055556,-74.07694444,"(4.658055556, -74.07694444)",0.0,0.0,14.0,4.0,17.0,97.0,2.0,22.0,72.0
2,CAI Alamos,4.6901611,-74.11725,"(4.6901611, -74.11725)",0.0,1.0,21.0,0.0,11.0,104.0,0.0,1.0,13.0
3,CAI Americas,4.6191917,-74.139075,"(4.6191917, -74.139075)",16.0,17.0,17.0,8.0,25.0,122.0,3.0,4.0,8.0
4,CAI Aurora,4.5198417,-74.12165,"(4.5198417, -74.12165)",0.0,0.0,0.0,9.0,17.0,45.0,0.0,0.0,0.0

## Read IPS

In [74]:
IPS_df = pd.read_excel("../data/otros/ips/ipsbogota_Geocode.xlsx")

In [75]:
IPS = IPS_df[['USER_SEDE','Y','X']].copy()
IPS["lat_lon"] = list(zip(IPS.Y, IPS.X))

In [76]:
IPS.head()

,USER_SEDE,Y,X,lat_lon
0,Optica GMO Colombia SAS,4.763237,-74.045181,"(4.763237003525945, -74.04518135908292)"
1,Opticas GMO Colombia S.A.S,4.645716,-74.064123,"(4.645715767818375, -74.06412271506343)"
2,Opticas GMO Colombia S.A.S.,4.652687,-74.109152,"(4.652686954779876, -74.10915172384549)"
3,Opticas GMO Colombia S.A.S.,4.652687,-74.109152,"(4.652686954779876, -74.10915172384549)"
4,Opticas GMO Colombia S.A.S.,4.656178,-74.057486,"(4.656177849814369, -74.0574863432243)"

### Calcular IPS cercanas en 500 m

In [77]:
cais_SDA = conteo_en_radio(cais_SDA,IPS,0.5,"conteo_ips_500m")
cais_SDA = conteo_en_radio(cais_SDA,IPS,1,"conteo_ips_1km")
cais_SDA = conteo_en_radio(cais_SDA,IPS,2,"conteo_ips_2km")

CAI 20 de Julio
CAI 7 de Agosto
CAI Alamos
CAI Americas
CAI Aurora
CAI Claret
CAI Galerias
CAI Jaboque
CAI Las Ferias
CAI Navarra
CAI Normandia
CAI Quirigua
CAI Rincon
CAI Roma
CAI San Victorino
CAI Serena
CAI Tejar
CAI Venecia
CAI Villa Nidia
CAI Villa del Prado
Cruz Roja
Edificio Marly
Edificio Profesional
Hotel Morrison
Santa Cecilia
Fontibón
Restrepo
SDA
CAI 20 de Julio
CAI 7 de Agosto
CAI Alamos
CAI Americas
CAI Aurora
CAI Claret
CAI Galerias
CAI Jaboque
CAI Las Ferias
CAI Navarra
CAI Normandia
CAI Quirigua
CAI Rincon
CAI Roma
CAI San Victorino
CAI Serena
CAI Tejar
CAI Venecia
CAI Villa Nidia
CAI Villa del Prado
Cruz Roja
Edificio Marly
Edificio Profesional
Hotel Morrison
Santa Cecilia
Fontibón
Restrepo
SDA
CAI 20 de Julio
CAI 7 de Agosto
CAI Alamos
CAI Americas
CAI Aurora
CAI Claret
CAI Galerias
CAI Jaboque
CAI Las Ferias
CAI Navarra
CAI Normandia
CAI Quirigua
CAI Rincon
CAI Roma
CAI San Victorino
CAI Serena
CAI Tejar
CAI Venecia
CAI Villa Nidia
CAI Villa del Prado
Cruz Roja
Edificio Marly
Edificio Profesional
Hotel Morrison
Santa Cecilia
Fontibón
Restrepo
SDA

In [78]:
cais_SDA.head()

,Estación,latitud,longitud,lat_lon,conteo_bares_500m,conteo_bares_1km,conteo_bares_2km,conteo_colegios_500m,conteo_colegios_1km,conteo_colegios_2km,conteo_hoteles_500m,conteo_hoteles_1km,conteo_hoteles_2km,conteo_ips_500m,conteo_ips_1km,conteo_ips_2km
0,CAI 20 de Julio,4.5726111,-74.09255556,"(4.5726111, -74.09255556)",0.0,0.0,0.0,14.0,47.0,142.0,0.0,0.0,6.0,10.0,19.0,103.0
1,CAI 7 de Agosto,4.658055556,-74.07694444,"(4.658055556, -74.07694444)",0.0,0.0,14.0,4.0,17.0,97.0,2.0,22.0,72.0,4.0,53.0,335.0
2,CAI Alamos,4.6901611,-74.11725,"(4.6901611, -74.11725)",0.0,1.0,21.0,0.0,11.0,104.0,0.0,1.0,13.0,6.0,16.0,87.0
3,CAI Americas,4.6191917,-74.139075,"(4.6191917, -74.139075)",16.0,17.0,17.0,8.0,25.0,122.0,3.0,4.0,8.0,8.0,18.0,100.0
4,CAI Aurora,4.5198417,-74.12165,"(4.5198417, -74.12165)",0.0,0.0,0.0,9.0,17.0,45.0,0.0,0.0,0.0,1.0,5.0,13.0

In [79]:
cais_SDA.to_csv('../data/interim/variables_de_radio.csv')

## Read Manzanas

In [80]:
manzanas_df = pd.read_excel("../data/otros/manzanas/MGN_ANM_MANZANA.xlsx")

In [81]:
manzanas_df.head()

,OID,OBJECTID_1,COD_DANE_A,DPTO_CCDGO,MPIO_CCDGO,MPIO_CDPMP,CLAS_CCDGO,SETR_CCDGO,SETR_CCNCT,SECR_CCDGO,...,TP51POSTGR,TP51_13_ED,TP51_99_ED,CD_LC_CM,NMB_LC_CM,TP_LC_CM,Shape_Leng,DDLat,DDLon,ORIG_OID
0,1,1,1100110000000011010101,11,1,11001,1,0,110011000,0,...,0,0,7,04,SAN CRISTOBAL,Localidad,0.004176,4.585633,-74.081623,1
1,2,2,1100110000000011010102,11,1,11001,1,0,110011000,0,...,0,2,3,04,SAN CRISTOBAL,Localidad,0.005631,4.584788,-74.080810,2
2,3,3,1100110000000011010103,11,1,11001,1,0,110011000,0,...,44,5,20,04,SAN CRISTOBAL,Localidad,0.011082,4.582480,-74.081045,3
3,4,4,1100110000000011010104,11,1,11001,1,0,110011000,0,...,125,24,37,04,SAN CRISTOBAL,Localidad,0.008378,4.582606,-74.083257,4
4,5,5,1100110000000011010105,11,1,11001,1,0,110011000,0,...,0,9,2,04,SAN CRISTOBAL,Localidad,0.002777,4.582665,-74.079530,5

In [82]:
list(manzanas_df.columns)

['OID',
 'OBJECTID_1',
 'COD_DANE_A',
 'DPTO_CCDGO',
 'MPIO_CCDGO',
 'MPIO_CDPMP',
 'CLAS_CCDGO',
 'SETR_CCDGO',
 'SETR_CCNCT',
 'SECR_CCDGO',
 'SECR_CCNCT',
 'ZU_CCDGO',
 'ZU_CDIVI',
 'SETU_CCDGO',
 'SETU_CCNCT',
 'SECU_CCDGO',
 'SECU_CCNCT',
 'MANZ_CCDGO',
 'AG_CCDGO',
 'DATO_ANM',
 'VERSION',
 'AREA',
 'LATITUD',
 'LONGITUD',
 'DENSIDAD',
 'CTNENCUEST',
 'TP3_1_SI',
 'TP3_2_NO',
 'TP3A_RI',
 'TP3B_TCN',
 'TP4_1_SI',
 'TP4_2_NO',
 'TP9_1_USO',
 'TP9_2_USO',
 'TP9_3_USO',
 'TP9_4_USO',
 'TP9_2_1_MI',
 'TP9_2_2_MI',
 'TP9_2_3_MI',
 'TP9_2_4_MI',
 'TP9_2_9_MI',
 'TP9_3_1_NO',
 'TP9_3_2_NO',
 'TP9_3_3_NO',
 'TP9_3_4_NO',
 'TP9_3_5_NO',
 'TP9_3_6_NO',
 'TP9_3_7_NO',
 'TP9_3_8_NO',
 'TP9_3_9_NO',
 'TP9_3_10_N',
 'TP9_3_99_N',
 'TVIVIENDA',
 'TP14_1_TIP',
 'TP14_2_TIP',
 'TP14_3_TIP',
 'TP14_4_TIP',
 'TP14_5_TIP',
 'TP14_6_TIP',
 'TP15_1_OCU',
 'TP15_2_OCU',
 'TP15_3_OCU',
 'TP15_4_OCU',
 'TP16_HOG',
 'TP19_EE_1',
 'TP19_EE_2',
 'TP19_EE_E1',
 'TP19_EE_E2',
 'TP19_EE_E3',
 'TP19_EE_E4',
 'TP19_EE_E5',
 'TP19_EE_E6',
 'TP19_EE_E9',
 'TP19_ACU_1',
 'TP19_ACU_2',
 'TP19_ALC_1',
 'TP19_ALC_2',
 'TP19_GAS_1',
 'TP19_GAS_2',
 'TP19_GAS_9',
 'TP19_RECB1',
 'TP19_RECB2',
 'TP19_INTE1',
 'TP19_INTE2',
 'TP19_INTE9',
 'TP27_PERSO',
 'PERSONAS_L',
 'PERSONAS_S',
 'TP32_1_SEX',
 'TP32_2_SEX',
 'TP34_1_EDA',
 'TP34_2_EDA',
 'TP34_3_EDA',
 'TP34_4_EDA',
 'TP34_5_EDA',
 'TP34_6_EDA',
 'TP34_7_EDA',
 'TP34_8_EDA',
 'TP34_9_EDA',
 'TP51PRIMAR',
 'TP51SECUND',
 'TP51SUPERI',
 'TP51POSTGR',
 'TP51_13_ED',
 'TP51_99_ED',
 'CD_LC_CM',
 'NMB_LC_CM',
 'TP_LC_CM',
 'Shape_Leng',
 'DDLat',
 'DDLon',
 'ORIG_OID']

In [83]:
not_variable = [
    'DPTO_CCDGO', 'MPIO_CCDGO', 'MPIO_CDPMP', 'CLAS_CCDGO', 'SETR_CCDGO',
    'SETR_CCNCT', 'SECR_CCDGO', 'SECR_CCNCT', 'ZU_CCDGO', 'ZU_CDIVI',
    'SETU_CCDGO', 'SETU_CCNCT', 'SECU_CCDGO', 'SECU_CCNCT', 'MANZ_CCDGO',
    'AG_CCDGO', 'DATO_ANM', 'VERSION', 'Shape_Leng', 'DDLat', 'DDLon',
    'ORIG_OID', 'NMB_LC_CM', 'TP_LC_CM '
]

In [84]:
manzanas_var = [x for x in list(manzanas_df.columns) if x not in not_variable]

In [85]:
manzanas = manzanas_df[manzanas_var].copy()

In [86]:
manzanas["lat_lon"] = list(zip(manzanas.LATITUD, manzanas.LONGITUD))

In [88]:
manzanas_resultados = pd.DataFrame()
radio = 0.5
for cai in cais_SDA.Estación:
    cai_lat_lon = cais_SDA[cais_SDA.Estación==cai]['lat_lon']
    temp_df = manzanas.copy()
    temp_df["distancia"] = temp_df.lat_lon.apply(lambda x: distance.distance(cai_lat_lon, x).km)
    suma_manzanas = temp_df.sort_values("distancia").query("distancia<"+str(radio)).sum()
    suma_manzanas['Estación']=cai
    manzanas_resultados = manzanas_resultados.append(suma_manzanas,ignore_index=True)

In [89]:
manzanas_resultados.head()

,AREA,CD_LC_CM,COD_DANE_A,CTNENCUEST,DENSIDAD,Estación,LATITUD,LONGITUD,OBJECTID_1,OID,...,TP9_3_7_NO,TP9_3_8_NO,TP9_3_99_N,TP9_3_9_NO,TP9_3_USO,TP9_4_USO,TP_LC_CM,TVIVIENDA,distancia,lat_lon
0,573674.459804,0404040404040404040404040404040404040404040404...,1100110000000014050501110011000000001405050611...,4792.0,3.514996,CAI 20 de Julio,457.216212,-7409.275737,190976.0,190976.0,...,7.0,0.0,4.0,0.0,1049.0,0.0,LocalidadLocalidadLocalidadLocalidadLocalidadL...,3743.0,32.492817,"(4.57274540554, -74.0922126198, 4.57332854109,..."
1,339529.496643,1212121212121212121212121212121212121212121212...,1100110000000073100406110011000000007310040511...,4725.0,1.509435,CAI 7 de Agosto,321.405160,-5111.250571,2244533.0,2244533.0,...,1.0,0.0,3.0,0.0,1672.0,0.0,LocalidadLocalidadLocalidadLocalidadLocalidadL...,3053.0,23.048191,"(4.65804047641, -74.0770789427, 4.6577993815, ..."
2,800819.593612,1010101010101010101010101009101010101010,1100110000000056260303110011000000005626030211...,1794.0,0.258902,CAI Alamos,93.818409,-1482.334915,582810.0,582810.0,...,4.0,0.0,2.0,0.0,396.0,0.0,LocalidadLocalidadLocalidadLocalidadLocalidadL...,1398.0,8.073705,"(4.69085866216, -74.1186881107, 4.69245656975,..."
3,482608.396720,0808080808080808080808080808080808080808080808...,1100110000000045020117110011000000004502011511...,3611.0,1.540382,CAI Americas,304.880581,-4893.207142,1254310.0,1254310.0,...,8.0,0.0,2.0,0.0,789.0,0.0,LocalidadLocalidadLocalidadLocalidadLocalidadL...,2822.0,21.875104,"(4.61964369238, -74.1388049051, 4.6190354024, ..."
4,475368.962975,0505050505050505050505050505050505050505050505...,1100110000000025430303110011000000002533060511...,8669.0,15.975818,CAI Aurora,840.704186,-13786.496471,2131808.0,2131808.0,...,31.0,0.0,0.0,0.0,438.0,0.0,LocalidadLocalidadLocalidadLocalidadLocalidadL...,8231.0,58.450647,"(4.5195524985, -74.1215138913, 4.52057139935, ..."

In [90]:
manzanas_resultados.drop(['CD_LC_CM','COD_DANE_A','TP_LC_CM','distancia','lat_lon','LATITUD','LONGITUD'],axis=1,inplace=True)

## Final Merge

In [91]:
final_df = cais_SDA.merge(manzanas_resultados,how='left',on='Estación')

In [92]:
final_df.head()

,Estación,latitud,longitud,lat_lon,conteo_bares_500m,conteo_bares_1km,conteo_bares_2km,conteo_colegios_500m,conteo_colegios_1km,conteo_colegios_2km,...,TP9_3_4_NO,TP9_3_5_NO,TP9_3_6_NO,TP9_3_7_NO,TP9_3_8_NO,TP9_3_99_N,TP9_3_9_NO,TP9_3_USO,TP9_4_USO,TVIVIENDA
0,CAI 20 de Julio,4.5726111,-74.09255556,"(4.5726111, -74.09255556)",0.0,0.0,0.0,14.0,47.0,142.0,...,0.0,15.0,10.0,7.0,0.0,4.0,0.0,1049.0,0.0,3743.0
1,CAI 7 de Agosto,4.658055556,-74.07694444,"(4.658055556, -74.07694444)",0.0,0.0,14.0,4.0,17.0,97.0,...,0.0,12.0,0.0,1.0,0.0,3.0,0.0,1672.0,0.0,3053.0
2,CAI Alamos,4.6901611,-74.11725,"(4.6901611, -74.11725)",0.0,1.0,21.0,0.0,11.0,104.0,...,0.0,1.0,10.0,4.0,0.0,2.0,0.0,396.0,0.0,1398.0
3,CAI Americas,4.6191917,-74.139075,"(4.6191917, -74.139075)",16.0,17.0,17.0,8.0,25.0,122.0,...,0.0,17.0,5.0,8.0,0.0,2.0,0.0,789.0,0.0,2822.0
4,CAI Aurora,4.5198417,-74.12165,"(4.5198417, -74.12165)",0.0,0.0,0.0,9.0,17.0,45.0,...,0.0,20.0,14.0,31.0,0.0,0.0,0.0,438.0,0.0,8231.0

In [94]:
final_df.tail()

,Estación,latitud,longitud,lat_lon,conteo_bares_500m,conteo_bares_1km,conteo_bares_2km,conteo_colegios_500m,conteo_colegios_1km,conteo_colegios_2km,...,TP9_3_4_NO,TP9_3_5_NO,TP9_3_6_NO,TP9_3_7_NO,TP9_3_8_NO,TP9_3_99_N,TP9_3_9_NO,TP9_3_USO,TP9_4_USO,TVIVIENDA
23,Hotel Morrison,4.668888889,-74.05444444,"(4.668888889, -74.05444444)",70.0,81.0,164.0,1.0,8.0,50.0,...,0.0,17.0,5.0,3.0,0.0,4.0,0.0,945.0,0.0,2516.0
24,Santa Cecilia,4.669701,-74.119029,"(4.669701, -74.119029)",0.0,0.0,5.0,18.0,36.0,74.0,...,0.0,24.0,7.0,12.0,0.0,1.0,2.0,674.0,0.0,3059.0
25,Fontibón,4.6675,-74.14861111,"(4.6675, -74.14861111)",0.0,0.0,1.0,2.0,17.0,53.0,...,0.0,9.0,16.0,17.0,1.0,2.0,0.0,685.0,0.0,5799.0
26,Restrepo,4.5847861,-74.10026944,"(4.5847861, -74.10026944)",0.0,0.0,0.0,15.0,48.0,158.0,...,0.0,31.0,7.0,2.0,0.0,4.0,0.0,1739.0,0.0,3788.0
27,SDA,4.6419056,-74.06568333,"(4.6419056, -74.06568333)",1.0,4.0,58.0,9.0,27.0,85.0,...,5.0,32.0,21.0,2.0,1.0,3.0,0.0,813.0,0.0,7822.0

In [95]:
final_df.to_csv('../data/interim/nuevas_variables.csv',index=False)

## Read SDA Data

In [ ]:
SDA_data = pd.read_csv(interim_path + 'SDA_data.csv', dtype='unicode', encoding='utf_8')

In [26]:
SDA_data.shape

(45374070, 9)

In [27]:
SDA_data.head()

,Estación,Serial,Variable,Unidad,Componente,Fecha,Valor,Ponderación,Tipo
0,"﻿""CAI Rincon""",11339,Leq,2019-07-01 00:00:00,57.6,Lin,1/3 Oct 500Hz,NaN,NaN
1,"﻿""CAI Rincon""",11339,L50,2019-07-01 00:00:00,50.0,Lin,1/3 Oct 25Hz,NaN,NaN
2,"﻿""CAI Rincon""",11339,L90,2019-07-01 00:00:00,22.9,Lin,1/3 Oct 8kHz,NaN,NaN
3,"﻿""CAI Rincon""",11339,L90,2019-07-01 00:00:00,20.6,Lin,1/3 Oct 10kHz,NaN,NaN
4,"﻿""CAI Rincon""",11339,L90,2019-07-01 00:00:00,18.4,Lin,1/3 Oct 12.5kHz,NaN,NaN

In [28]:
SDA_data.drop(['Ponderación','Tipo'],axis=1,inplace=True)

In [29]:
SDA_data.columns= ["Estación","Serial","Variable","Fecha","Valor","Ponderación","Tipo"]

In [30]:
# 1. Remove special character when loading the source file
SDA_data['Estación'] = SDA_data['Estación'].str.replace('�','')
SDA_data['Estación'] = SDA_data['Estación'].str.replace('"','')
# due to problems with enconding, some additional relacement needs to occur:
SDA_data['Estación'] = SDA_data['Estación'].str.replace(u'\ufeff','')
# Due to the replacement on (1), a word got problems, so we need to take care of these values:
SDA_data['Estación'] = SDA_data['Estación'].str.replace('Fontibn','Fontibón')

In [32]:
SDA_data.Valor=SDA_data.Valor.astype('float')

In [33]:
SDA_data.head(5)

,Estación,Serial,Variable,Fecha,Valor,Ponderación,Tipo
0,CAI Rincon,11339,Leq,2019-07-01 00:00:00,57.6,Lin,1/3 Oct 500Hz
1,CAI Rincon,11339,L50,2019-07-01 00:00:00,50.0,Lin,1/3 Oct 25Hz
2,CAI Rincon,11339,L90,2019-07-01 00:00:00,22.9,Lin,1/3 Oct 8kHz
3,CAI Rincon,11339,L90,2019-07-01 00:00:00,20.6,Lin,1/3 Oct 10kHz
4,CAI Rincon,11339,L90,2019-07-01 00:00:00,18.4,Lin,1/3 Oct 12.5kHz

### Median Leq

In [34]:
SDA_mean = SDA_data[SDA_data["Variable"]=="Leq"][["Estación","Valor"]].groupby("Estación").agg("median").reset_index(drop=False)

In [35]:
SDA_mean.head()

          Estación  Valor
0  CAI 20 de Julio   54.8
1  CAI 7 de Agosto   61.5
2       CAI Alamos   58.7
3     CAI Americas   63.0
4       CAI Aurora   58.3

### Median Leq per hour

In [41]:
SDA_data["Hora"] = pd.to_datetime(SDA_data.Fecha).dt.hour

In [42]:
SDA_hour_mean = SDA_data[SDA_data["Variable"]=="Leq"][["Estación","Hora","Valor"]].groupby(["Estación","Hora"]).agg("median").reset_index(drop=False)

In [45]:
SDA_hour_mean.head(23)

           Estación  Hora  Valor
0   CAI 20 de Julio     0   49.6
1   CAI 20 de Julio     1   47.1
2   CAI 20 de Julio     2   46.6
3   CAI 20 de Julio     3   46.7
4   CAI 20 de Julio     4   50.0
5   CAI 20 de Julio     5   53.6
6   CAI 20 de Julio     6   55.9
7   CAI 20 de Julio     7   56.3
8   CAI 20 de Julio     8   56.5
9   CAI 20 de Julio     9   56.6
10  CAI 20 de Julio    10   57.2
11  CAI 20 de Julio    11   57.5
12  CAI 20 de Julio    12   58.2
13  CAI 20 de Julio    13   58.4
14  CAI 20 de Julio    14   58.5
15  CAI 20 de Julio    15   58.3
16  CAI 20 de Julio    16   58.1
17  CAI 20 de Julio    17   58.1
18  CAI 20 de Julio    18   57.6
19  CAI 20 de Julio    19   56.9
20  CAI 20 de Julio    20   56.1
21  CAI 20 de Julio    21   55.1
22  CAI 20 de Julio    22   54.0