In [1]:
import pandas as pd
import numpy as np

In [2]:
interim_path = '../data/interim/'

## Read New Variables

In [3]:
nuevas_variables = pd.read_csv(interim_path + "nuevas_variables.csv")

In [4]:
nuevas_variables.head()

,Estación,CAIDESCRIP,CAIIEPOLIC,latitude,longitude,lat_lon,conteo_bares_500m,conteo_bares_1km,conteo_bares_2km,conteo_colegios_500m,...,TP9_3_4_NO,TP9_3_5_NO,TP9_3_6_NO,TP9_3_7_NO,TP9_3_8_NO,TP9_3_99_N,TP9_3_9_NO,TP9_3_USO,TP9_4_USO,TVIVIENDA
0,CAI 20 de Julio,CAI 20 De Julio,CAI 20 De Julio,4.572588,-74.092548,"(4.572588000000052, -74.09254799999997)",0.0,0.0,0.0,14.0,...,0.0,15.0,10.0,7.0,0.0,4.0,0.0,1049.0,0.0,3743.0
1,CAI 7 de Agosto,CAI Siete de Agosto,CAI Siete de Agosto,4.658230,-74.077138,"(4.65823000000006, -74.07713799999993)",0.0,0.0,13.0,3.0,...,0.0,12.0,0.0,1.0,1.0,3.0,0.0,1674.0,0.0,3518.0
2,CAI Alamos,CAI Álamos,CAI Álamos,4.690173,-74.117279,"(4.6901730000000725, -74.11727899999994)",0.0,1.0,21.0,0.0,...,0.0,1.0,10.0,4.0,0.0,2.0,0.0,396.0,0.0,1398.0
3,CAI Americas,CAI Plaza De Las Américas,CAI Plaza De Las Américas,4.619148,-74.139036,"(4.6191480000000515, -74.13903599999998)",16.0,17.0,17.0,8.0,...,0.0,17.0,5.0,8.0,0.0,2.0,0.0,789.0,0.0,2822.0
4,CAI Aurora,CAI La Aurora,CAI La Aurora,4.519827,-74.121650,"(4.519826700000066, -74.12164989999997)",0.0,0.0,0.0,9.0,...,0.0,20.0,14.0,31.0,0.0,0.0,0.0,438.0,0.0,8231.0

## Read SDA Data

In [5]:
SDA_data = pd.read_csv(interim_path + 'SDA_data.csv', dtype='unicode', encoding='utf_8')

In [6]:
SDA_data.shape

(45374070, 9)

In [7]:
SDA_data.head()

,Estación,Serial,Variable,Unidad,Componente,Fecha,Valor,Ponderación,Tipo
0,"﻿""CAI Rincon""",11339,Leq,2019-07-01 00:00:00,57.6,Lin,1/3 Oct 500Hz,NaN,NaN
1,"﻿""CAI Rincon""",11339,L50,2019-07-01 00:00:00,50.0,Lin,1/3 Oct 25Hz,NaN,NaN
2,"﻿""CAI Rincon""",11339,L90,2019-07-01 00:00:00,22.9,Lin,1/3 Oct 8kHz,NaN,NaN
3,"﻿""CAI Rincon""",11339,L90,2019-07-01 00:00:00,20.6,Lin,1/3 Oct 10kHz,NaN,NaN
4,"﻿""CAI Rincon""",11339,L90,2019-07-01 00:00:00,18.4,Lin,1/3 Oct 12.5kHz,NaN,NaN

In [8]:
SDA_data.drop(['Ponderación','Tipo'],axis=1,inplace=True)

SDA_data.columns= ["Estación","Serial","Variable","Fecha","Valor","Ponderación","Tipo"]

# 1. Remove special character when loading the source file
SDA_data['Estación'] = SDA_data['Estación'].str.replace('�','')
SDA_data['Estación'] = SDA_data['Estación'].str.replace('"','')
# due to problems with enconding, some additional relacement needs to occur:
SDA_data['Estación'] = SDA_data['Estación'].str.replace(u'\ufeff','')
# Due to the replacement on (1), a word got problems, so we need to take care of these values:
SDA_data['Estación'] = SDA_data['Estación'].str.replace('Fontibn','Fontibón')

SDA_data.Valor=SDA_data.Valor.astype('float')

In [9]:
SDA_data.head(5)

,Estación,Serial,Variable,Fecha,Valor,Ponderación,Tipo
0,CAI Rincon,11339,Leq,2019-07-01 00:00:00,57.6,Lin,1/3 Oct 500Hz
1,CAI Rincon,11339,L50,2019-07-01 00:00:00,50.0,Lin,1/3 Oct 25Hz
2,CAI Rincon,11339,L90,2019-07-01 00:00:00,22.9,Lin,1/3 Oct 8kHz
3,CAI Rincon,11339,L90,2019-07-01 00:00:00,20.6,Lin,1/3 Oct 10kHz
4,CAI Rincon,11339,L90,2019-07-01 00:00:00,18.4,Lin,1/3 Oct 12.5kHz

In [10]:
SDA_data.Estación.drop_duplicates()

0                     CAI Rincon
295589                  CAI Roma
446278                  Restrepo
749855           CAI 20 de Julio
872166            Edificio Marly
1207245                      SDA
1459718          CAI 7 de Agosto
1495666               CAI Serena
1790565             CAI Americas
1937074              CAI Jaboque
2236780               CAI Claret
2390885                CAI Tejar
2543873      CAI Villa del Prado
3166231          CAI Villa Nidia
3315248              CAI Navarra
3621015               CAI Aurora
3824389             CAI Galerias
3965255            CAI Normandia
4078612               CAI Alamos
4397546        CAI San Victorino
4863910                Cruz Roja
5026266              CAI Venecia
5179672           Hotel Morrison
5996200                 Fontibón
6018149            Santa Cecilia
7677946     Edificio Profesional
7841012             CAI Quirigua
12145371          CAI Las Ferias
Name: Estación, dtype: object

## Keep Only Fontibon

In [26]:
SDA_fontibon = SDA_data[(SDA_data['Estación'] == 'Fontibón') & (SDA_data['Variable'] == 'Leq') ].copy()

In [ ]:
SDA_santa_cecilia = SDA_data[(SDA_data['Estación'] == 'Santa Cecilia') & (SDA_data['Variable'] == 'Leq') ].copy()

In [ ]:
del(SDA_data)

In [27]:
def add_date_features(df):

    df['Fecha'] = pd.to_datetime(df['Fecha'])
    df['Fecha_Dia'] =  df['Fecha'].dt.to_period('D')
    df["Year"] = df.Fecha.dt.year
    df['Mes'] =  df['Fecha'].dt.month
    #df["Semana"] = df.Fecha.dt.isocalendar().week
    df['Hora'] = pd.to_datetime(df['Fecha']).dt.hour
    df["Dia"]= df.Fecha.dt.day + 1
    #df['Dia'] = pd.Categorical(df['Dia'], categories=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'],ordered=True)
    
    return df

In [28]:
SDA_fontibon = add_date_features(SDA_fontibon)

In [29]:
SDA_fontibon.head()

,Estación,Serial,Variable,Fecha,Valor,Ponderación,Tipo,Fecha_Dia,Year,Mes,Hora,Dia
5996200,Fontibón,11805,Leq,2020-01-01,66.0,A,Leq,2020-01-01,2020,1,0,2
5996275,Fontibón,11805,Leq,2020-01-01,74.7,A,Impulso,2020-01-01,2020,1,0,2
5996306,Fontibón,11805,Leq,2020-01-01,49.6,Lin,1/3 Oct 2.5kHz,2020-01-01,2020,1,0,2
5996307,Fontibón,11805,Leq,2020-01-01,54.7,Lin,1/3 Oct 250Hz,2020-01-01,2020,1,0,2
5996308,Fontibón,11805,Leq,2020-01-01,55.3,Lin,1/3 Oct 315Hz,2020-01-01,2020,1,0,2

In [15]:
#df['Fecha'] = pd.to_datetime(df['Fecha'])
start_date = '2019-05-01 00:00'
end_date = '2020-08-01 00:00'
SDA_fontibon = SDA_fontibon[(SDA_fontibon['Fecha']> start_date) & (SDA_fontibon['Fecha'] <= end_date)]
SDA_fontibon.head()

,Estación,Serial,Variable,Fecha,Valor,Ponderación,Tipo,Year,Mes,Hora,Fecha_Dia,Dia
5996200,Fontibón,11805,Leq,2020-01-01,66.0,A,Leq,2020,2020-01,0,2020-01-01,Wednesday
5996201,Fontibón,11805,L90,2020-01-01,18.3,Lin,1/3 Oct 20kHz,2020,2020-01,0,2020-01-01,Wednesday
5996202,Fontibón,11805,L90,2020-01-01,44.6,Lin,1/3 Oct 2kHz,2020,2020-01,0,2020-01-01,Wednesday
5996203,Fontibón,11805,L90,2020-01-01,40.8,Lin,1/3 Oct 2.5kHz,2020,2020-01,0,2020-01-01,Wednesday
5996204,Fontibón,11805,L90,2020-01-01,36.5,Lin,1/3 Oct 3.15kHz,2020,2020-01,0,2020-01-01,Wednesday

### Group SDA data

In [ ]:
SDA_fontibon_hour_mean  = df_sda.groupby(['Estación','Variable','Hora'])[['Valor']].mean().reset_index()
df_sda_var_hour_mean.head()

### Median Leq

In [ ]:
SDA_mean = SDA_data[SDA_data["Variable"]=="Leq"][["Estación","Valor"]].groupby("Estación").agg("median").reset_index(drop=False)

SDA_mean.head()

### Median Leq per hour

In [13]:
SDA_data["Hora"] = pd.to_datetime(SDA_data.Fecha).dt.hour

SDA_hour_mean = SDA_data[SDA_data["Variable"]=="Leq"][["Estación","Hora","Valor"]].groupby(["Estación","Hora"]).agg("median").reset_index(drop=False)

In [14]:
SDA_hour_mean.head(23)

           Estación  Hora  Valor
0   CAI 20 de Julio     0   49.6
1   CAI 20 de Julio     1   47.1
2   CAI 20 de Julio     2   46.6
3   CAI 20 de Julio     3   46.7
4   CAI 20 de Julio     4   50.0
5   CAI 20 de Julio     5   53.6
6   CAI 20 de Julio     6   55.9
7   CAI 20 de Julio     7   56.3
8   CAI 20 de Julio     8   56.5
9   CAI 20 de Julio     9   56.6
10  CAI 20 de Julio    10   57.2
11  CAI 20 de Julio    11   57.5
12  CAI 20 de Julio    12   58.2
13  CAI 20 de Julio    13   58.4
14  CAI 20 de Julio    14   58.5
15  CAI 20 de Julio    15   58.3
16  CAI 20 de Julio    16   58.1
17  CAI 20 de Julio    17   58.1
18  CAI 20 de Julio    18   57.6
19  CAI 20 de Julio    19   56.9
20  CAI 20 de Julio    20   56.1
21  CAI 20 de Julio    21   55.1
22  CAI 20 de Julio    22   54.0